@import "./src/styles";

.pre-footer{
    background-color:#222222;
    padding: 40px 10px;  
    margin-top: 40px; 
    div{
        color: #EEEEEE;
    }
    a,
    a:hover{
        text-decoration: none;
        color:#EEEEEE !important;
    } 
    .title{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    form{
        margin-top: 20px;
        display: flex;
        input{
          border: 1px solid #dbdbdb;
          width: 70%;
          height: 30px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
        }
        div{
          width: 30%;
          background-color: $secondaryColor; 
          height: 30px;
          display: flex;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          cursor: pointer;
          span{
            margin: auto;
            color: white;
            font-weight: bold;
            font-size: 15px;         
          }
        }
      }
}

.pos-footer{
    background-color: #111111;
    padding: 10px 40px;
    p{
        color: #B1B1B1;
    }
}