<footer>
  <div class="pre-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="title">
            Browse pages
          </div>
          <div>
            <a href="">Our company</a>
          </div>
          <div>
            <a href="">Terms and conditions</a>
          </div>
          <div>
            <a href="">Privacy policy</a>
          </div>
          <div>
            <a href="">Press release</a>
          </div>
          <div>
            <a href="">What we have done</a>
          </div>
          <div>
            <a href="">Our support forum</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="title">
            Get in touch
          </div>
          <div>
            <b>Lipsum company Inc.</b>
            <br/> Somestreet 200 VW, Suite Village A.001
            <br/> Jakarta 13426 Indonesia
          </div>
          <div>
            <i class="fas fa-phone-alt"></i> (123) 456-7890 - (123) 555-7891
            <br/>
            <a href="mailto:email@domainname.com">
              <i class="far fa-envelope"></i>email@domainname.com</a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-12">
            <div class="title">
             Subscribe newsletter
            </div>
            <div>
             Keep updated for new releases and freebies. Enter your e-mail and subscribe to our newsletter.
            </div>
            <div>
                <form>
                    <input type="text" id="subscribe" placeholder="email@email.com" />
                    <div id="buttonSubscribe">
                      <span>Subscribe</span>
                    </div>
                  </form>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="pos-footer">
    <div class="container">
      <p>&copy; Lipsum company. All right reserved</p>
    </div>
  </div>
</footer>