<section id="blog">
  <div class="container">
      <div *ngFor="let post of posts">
          <h2>{{post.name}}</h2>
          <div *ngIf="post.img != null">
            <img [src]="post.img" style="width:100%;height:auto" />
          </div>
          <div *ngIf="post.video != null">
            <div class="videoWrapper">
              <iframe width="560" height="349" [src]="sanitizer.bypassSecurityTrustResourceUrl(post.video)" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
          <div>
            {{post.text}}
          </div>
          <hr/>
        </div>
  </div>
  
</section>