

<main role="main">
  <section style="background-color:#FCFCFC;">
    <div class="jumbotron">
      <div class="container">
        <div class="row line">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12  order-lg-first order-md-first  order-last order-sm-last">
            <div class="videoWrapper">
                <iframe src="https://player.vimeo.com/video/76979871" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12  order-lg-last order-md-last  order-first order-sm-first">
            <h2>
              <b>Lorem ipsum
                <span class="secondary-font-color">dolor</span>
              </b>
            </h2>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec enim eget purus imperdiet ornare sed eget eros. Maecenas
              elementum erat in mauris tempor vulputate. Ut tempus risus eget nulla fringilla accumsan. Suspendisse potenti.
              Donec ullamcorper viverra varius.
            </div>
            <form>
              <input type="text" id="subscribe" placeholder="email@email.com" />
              <div id="buttonSubscribe">
                <span>Subscribe</span>
              </div>
            </form>
          </div>
        </div>


       
      </div>
    </div>
  </section>

  <section>
    <div class="container">
     
      <div class="row line">
          <div class="col-lg-6 col-md-6 col-sm-12 col-12  order-lg-first order-md-first  order-last order-sm-last">
            <img src="assets/image-1.jpg" style="width:100%; height:auto;" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12  order-lg-last order-md-last  order-first order-sm-first">
            <h2>
              <b>
                <span class="secondary-font-color">Lorem ipsum</span> dolor sit amet
              </b>
            </h2>
            <div>
              Proin quis nulla sodales, efficitur eros sed, laoreet mauris. Nullam non nunc vitae erat sollicitudin porta id eu ipsum.
              Donec congue neque ac elementum commodo. Duis tristique nec odio vitae lobortis. <br/><br/>Praesent urna mi, scelerisque porttitor accumsan at, elementum eget eros. Interdum et malesuada fames
              ac ante ipsum primis in faucibus. 
            </div>
            <div class="badges">
              <div style="background-color:#36739D">
                  <i class="fas fa-code"></i>
              </div>
              <div style="background-color:#6F9B63">
                  <i class="fas fa-flask"></i>
              </div>
              <div style="background-color:#DABB3A">
                  <i class="fas fa-rocket"></i>
              </div>
              <div style="background-color:#CC6633">
                 <i class="fas fa-cut"></i>
              </div>
            </div>         
          </div>
        </div>
        <hr/>
        <div class="row line">        
            <div class="col-lg-6 col-md-6 col-sm-12 col-12 ">
              <h2>
                <b>
                  <span class="secondary-font-color">Lorem</span> ipsum dolor sit amet
                </b>
              </h2>
              <div>
                Proin quis nulla sodales, efficitur eros sed, laoreet mauris. Nullam non nunc vitae erat sollicitudin porta id eu ipsum.
                Donec congue neque ac elementum commodo. Duis tristique nec odio vitae lobortis. <br/><br/>Praesent urna mi, scelerisque porttitor accumsan at, elementum eget eros. Interdum et malesuada fames
                ac ante ipsum primis in faucibus. 
              </div>
             <div id="buttons">
              <div class="learn">
                <span>Learn more</span>
              </div>
              <div class="preview">
                  <span>Live preview</span>
                </div>
             </div>
    
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                <img src="assets/image-2.jpg" style="width:100%; height:auto;" />
              </div>
          </div>
          <hr/>
    </div>

  </section>
  <!-- Main jumbotron for a primary marketing message or call to action -->

  <section id="comments">
    <div class="container">
        <app-comments></app-comments>
    </div>
    
  </section>


</main>