@import "./src/styles";


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .jumbotron{
    form{
      margin-top: 20px;
      display: flex;
      input{
        border: 1px solid #dbdbdb;
        width: 70%;
        height: 70px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      div{
        width: 30%;
        background-color: $secondaryColor; 
        height: 70px;
        display: flex;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        span{
          margin: auto;
          color: white;
          font-weight: bold;
          font-size: 20px;         
        }
      }
    }
   
  }

  .line{
    padding-top: 80px;
 }

  .badges{
    display: flex;
    div{
      height: 80px;
      width: 80px;
      display: flex;      
      font-size: 30px;
      color: white;
      border-radius: 100%;
      margin-right:10px;
      margin-top: 30px; 
      i{
        margin: auto;
      }
    }
  }

  #buttons{
    display: flex;
    div{
      width: 150px;
      height: 50px;
      display: flex;
      border-radius: 5px;
      margin-top: 20px;
      font-size: 20px;
      cursor: pointer;
      &.learn{
        background-color:#6F9B63;
        
      }
      &.preview{
        background-color:$secondaryColor;
        margin-left: 20px;
      }
      span{
        margin: auto;
        color: white;
      }
    }
  }