#caroussel{
    padding: 0 30px;
}

.outter{
    .top{
        display: flex;
        justify-content: space-between;
        padding: 30px;
        .text-middle{
            text-align: center;
            margin-bottom: 30px;
            padding: 0 20px;
            color: #A2A2A2;
        }
    }
    
    .opening,
    .closing{
        width: 50px;
        height: 50px;
        display: flex;
        i{
            margin: auto;
            font-size: 50px;
            color:#BCBCBC;
        }
    }
    .image-container{
        border-radius: 100%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: auto;        
        img{
            width: 100%;
            height: auto;
        }
    }
    .userName{
        text-align: center;
        font-weight: 600;
        font-size: 18px;

    }
    .domain{
        text-align: center;
        color:#4B5056;
    }
}
h3{
    text-align: center;
}

label{
    width:100px;
}
input,
textarea{
    width: 70%;
    border:1px solid rgba(0,0,0,.1);
    border-radius: 5px;
}
#sendComment{
    background-color:#6F9B63;
    border:none;
    padding: 10px 20px;
    color: white;    
    border-radius: 5px;
}

