<h3>What are people
  <b>saying</b> about us</h3>

<ngx-slick-carousel id="caroussel" #slickModal="slick-carousel" [config]="slide1Config">
  <div *ngFor="let comment of comments" ngxSlickItem>
    <div class="outter">
      <div class="top">
        <div class="opening">
            <i class="fas fa-quote-left"></i>
        </div>

        <div class="text-middle">
        {{comment.comment.comment}}
        </div>

        <div class="closing">
            <i class="fas fa-quote-right"></i>
        </div>
      </div>
      <div class="user"  style="display:flex;">
        <div style="max-width:300px;margin:auto;">
            <div class="image-container">
                <img [src]="comment.user.avatar" />
              </div>
              <div class="userName">
                {{comment.user.name}}
              </div>
              <div class="domain">
                <b>www.{{comment.user.site}}</b>
              </div>
        </div>
        
      </div>

    </div>
  </div>

</ngx-slick-carousel>

<div>
  <h4>Novo comentário</h4>
  <br/><br/>
  <form (ngSubmit)="onSubmit()" class="row" [formGroup]="formComment">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <label>*Nome </label>
        <input maxlength="30" formControlName="name" type="text" />
        <div class="not-border" *ngIf="  formComment.controls.name.status == 'INVALID' &&   submitted">
            <p style="color:#FC0404">Este campo é obrigatório</p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <label>*Site </label>
        <input formControlName="site" type="text" />
        <div class="not-border" *ngIf="  formComment.controls.site.status == 'INVALID' &&   submitted">
            <p style="color:#FC0404">Este campo é obrigatório</p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <label>*Avatar (url) </label>
        <input formControlName="avatar" type="text" />
        <div class="not-border" *ngIf="  formComment.controls.avatar.status == 'INVALID' &&   submitted">
            <p style="color:#FC0404">Este campo é obrigatório</p>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <label>*Comentario </label>
        <textarea  maxlength="300" style="resize: none"  formControlName="comment"></textarea>
        <div class="not-border" *ngIf="  formComment.controls.comment.status == 'INVALID' &&   submitted">
            <p style="color:#FC0404">Este campo é obrigatório</p>
        </div>
    </div>
    <div style="display:flex;justify-content:center;width:100%;">
      <button type="submit" id="sendComment">
        enviar
      </button>
    </div>
   
  </form>
</div>